
{%include 'nav.html'%}

<div class="row  ">

    <div class="col-lg-6">     
<div>
<h1 class="first"> Update Student</h1>
<hr>
</div>

<div class="myForm">
<form action="/students/{{student.id}}/update" method="POST" class="forms" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <label for="First Name"> First Name</label>
    {{form.first_name()}}
    <label for="Second Name"> Second Name</label>
    {{form.second_name()}}
    <label for="email"> Email Address</label>
    {{form.email()}}
    <label for="fee paid"> Fee Paid</label>
    {{form.fee_paid()}}

    <div class="mb-2">
        <label for="formFile" class="form-label">Upload Image</label>
        <input class="form-control-sm" type="file" id="formFile" name="image">
      </div>
      
    <div class="button">
        {{form.submit()}}
        </div>
</form>
</div>
</div>

      






